{
  "spreadsheet_id": "YOUR_TEST_SPREADSHEET_ID_HERE",
  "spreadsheet_url": "https://docs.google.com/spreadsheets/d/YOUR_TEST_SPREADSHEET_ID_HERE/edit",
  "connected_at": null,
  "discovered": false
}
